From the scatter plot of the previous exercise, you saw that the points seem to separate into 3 clusters. You'll now create a KMeans model to find 3 clusters, and fit it to the data points from the previous exercise. After the model has been fit, you'll obtain the cluster labels for some new points using the .predict() method.

You are given the array points from the previous exercise, and also an array new_points.

Instructions

* Import KMeans from sklearn.cluster.
* Using KMeans(), create a KMeans instance called model to find 3 clusters. To specify the number of clusters, use the n_clusters keyword argument.
* Use the .fit() method of model to fit the model to the array of points points.
* Use the .predict() method of model to predict the cluster labels of new_points, assigning the result to labels.
* Hit 'Submit Answer' to see the cluster labels of new_points.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv('fish.csv',header=None)
df.head()

       0      1     2     3     4     5     6
0  Bream  242.0  23.2  25.4  30.0  38.4  13.4
1  Bream  290.0  24.0  26.3  31.2  40.0  13.8
2  Bream  340.0  23.9  26.5  31.1  39.8  15.1
3  Bream  363.0  26.3  29.0  33.5  38.0  13.3
4  Bream  430.0  26.5  29.0  34.0  36.6  15.1

In [17]:
df=df.drop([0], axis=1)
df.head()

       1     2     3     4     5     6
0  242.0  23.2  25.4  30.0  38.4  13.4
1  290.0  24.0  26.3  31.2  40.0  13.8
2  340.0  23.9  26.5  31.1  39.8  15.1
3  363.0  26.3  29.0  33.5  38.0  13.3
4  430.0  26.5  29.0  34.0  36.6  15.1

In [18]:
# Import KMeans
from sklearn.cluster import KMeans

# Create a KMeans instance with 3 clusters: model
model = KMeans(n_clusters=3)

# Fit model to points
model.fit(df)

# Determine the cluster labels of new_points: labels
#labels = model.predict(new_points)

# Print cluster labels of new_points
#print(labels)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=3, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)